{% extends 'baseClient.html.twig' %}
{% block content %}
    <section class="row page-cover">
        <div class="container">
            <div class="row m0">
                <h2>Reserver</h2>
                <ol class="breadcrumb">
                    <li><a href="http://galaxyanalytics.net/demos/handyman/index.html">Home</a></li>
                    <li class="services.html">Reservation</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="row touch">
    <div class="sectpad touch_bg">
    <div class="container">
    <div class="row m0 section_header">
        <h2>vos reservation</h2>
    </div>


    <div class="card">
        <div class="card-body">


            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                    <tr>
                        <th>idReservation</th>
                        <th>nom</th>
                        <th>prenom</th>
                        <th>adresse</th>
                        <th>mail</th>
                        <th>Service reservé</th>
                        <th>dateReservation</th>
                        <th>nombreheureestimee</th>
                        <th>status</th>
                        <th>ouvrier reservé</th>
                        <th>/////////</th>
                        <th>/////////</th>
                        {#<td>  <button type="button" class="btn btn-success btn-rounded"><a href="{{ path('home_rechercher',{'NomService':m.NomService})}}" >Rechercher</a><i class="icon icon-trash"></i></button>   </td>#}

                        {% for m in reservations %}
                    <tr>
                        <td>{{ m.id }} </td>
                        <td>{{ m.nom }} </td>
                        <td>{{ m.prenom }} </td>
                        <td>{{ m.adresse }} </td>
                        <td>{{ m.mail }} </td>
                        {#<td>{{ m.Service }} </td>#}
                        <td>    <output name="result">{{ m.Service}} </output> </td>
                        <td>{{ m.dateReservation|date('y-m-d') }}</td>

                        <td>{{ m.nombreheureestimee }} </td>
                        <td>{{ m.status }} </td>
                        <td>{{ m.User }} </td>

                        {#<td>  <button type="button" class="btn btn-danger btn-sm"><a href="{{ path('home_accepter',{'idReservation':m.idReservation})}}" >refuser</a><i class="icon icon-trash"></i></button>   </td>#}
                        <td><button type="button" class="btn btn-success btn-rounded"><a href="{{ path('home_accepterstatus',{'id':m.id})}}">accepter</a><i class="icon icon-trash"></i></button></td>
                        <td><button type="button" class="btn btn-success btn-rounded"><a href="{{ path('my_app_mail_homepage')}}">informer le client</a><i class="icon icon-trash"></i></button></td>

                        {#<td>   <a href ="{{ path ('home_effacer',{'idService':m.idService}) }}">supprimer</a> <br></td>#}

                        {% endfor %}
                    </tr>
                    </tr>

                    </thead>

                </table>
            </div>

        </div>
    </div>


{% endblock %}