{% extends 'baseClient.html.twig' %}

{% block content %}
    <link href="{{ asset('admin/css/bootstrap.css') }}" rel="stylesheet" /><!--bootstrap-->
    <link href="{{ asset('admin/css/font-awesome.css') }}" rel="stylesheet"><!--font-awesome-->
    <link href="{{ asset('admin/css/lightcase.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('admin/css/style1.css') }}" rel="stylesheet" type="text/css" media="all" />
    <!--Page Cover-->
    <div class="main-content">
        <div class="table-users">
            <div class="header"><h4 style="font-weight: bold; color: #8e0a0a"><center>Liste des clients</center></h4></div>
            <table id="datatable" class="table table-striped table-bordered">
                <thead>

                <th>Nom Ouvrier</th>
                <th>Prénom Ouvrier</th>
                <th>Nom Utilisateur</th>
                <th>Profession</th>
                <th></th>
                </thead>
                {% for user in User %}
                    <tr>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.profession }}</td>
                        <td><a href="{{ path('envoyerReclamation',{'id':user.id }) }}" >Envoyee</a></td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <style>
        .btnresate{
            width: 300px;
            height: 43px;
            background-color: #5eb5e0;
            margin-left: 100px;
        }
        .btnsave{
            width: 300px;
            height: 43px;
            background-color: #ec971f;
            margin-left: 200px;
        }
        .tki{
            width: 1142px;
            height: 200px;
            display: block;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: url("{{ asset('admin/img/imgmsg.png') }}");
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
        .sell{
            width: 402px;
            height: 43px;
            display: block;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: url("{{ asset('admin/img/imgmsg.png') }}");
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>


{% endblock %}
