

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from galaxyanalytics.net/demos/handyman/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Feb 2019 00:09:56 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Handyman &amp; Repairing</title>

    <!-- Bootstrap -->
    <link href="http://galaxyanalytics.net/demos/handyman/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://galaxyanalytics.net/demos/handyman/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="http://galaxyanalytics.net/demos/handyman/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://galaxyanalytics.net/demos/handyman/css/strock-icon.css" rel="stylesheet">
    <link href="http://galaxyanalytics.net/demos/handyman/vendors/owl-carousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="http://galaxyanalytics.net/demos/handyman/vendors/light.box/magnific-popup.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="http://galaxyanalytics.net/demos/handyman/css/style.css">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header class="row">
    <div class="row m0 header_top">
        <div class="container">
            <div class="row">
                <div class="logo_part col-md-3">
                    <a href="http://galaxyanalytics.net/demos/handyman/index.html" class="logo">
                        <div class="media">
                            <div class="media-left">
                                <img src="http://galaxyanalytics.net/demos/handyman/images/header/logo.png" alt="logo image">
                            </div>
                            <div class="media-body media-middle">
                                <h3>HANDYMAN</h3>
                                <h4>&amp; REPAIRING</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="contact_info col-md-9 col-lg-7">
                    <div class="c_info service_time">
                        <div class="row">
                            <div class="line_1">Mon - Sat 9.00 - 19.00</div>
                            <div class="line_2">Sunday Closed</div>
                        </div>
                    </div>
                    <div class="c_info tel_email">
                        <div class="row">
                            <div class="line_1"><a href="tel:+18004567890">+ (1800) 456 7890</a></div>
                            <div class="line_2"><a href="mailto:info@handyman.com">info@handyman.com</a></div>
                        </div>
                    </div>
                    <div class="c_info location">
                        <div class="row">
                            <div class="line_1">13005 Greenville Avenue</div>
                            <div class="line_2">California, TX 70240</div>
                        </div>
                    </div>
                </div>
                <div class="dropdown pull-right visible-xs">
                    <button id="search-form2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon icon-Search"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="search-form2">
                        <li>
                            <form action="#" method="get" class="search-form">
                                <input type="search" class="form-control" placeholder="Type and Enter">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-static-top" id="main_navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://galaxyanalytics.net/demos/handyman/index.html">Home Default</a></li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/landing-page.html">One Page</a></li>
                        </ul>
                    </li>
                    <li><a href="http://galaxyanalytics.net/demos/handyman/about.html">About Us</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">services</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://galaxyanalytics.net/demos/handyman/services.html">services</a></li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/services-2.html">services 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">projects</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://galaxyanalytics.net/demos/handyman/projects.html">projects</a></li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/project2.html">projects 2</a></li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/single-project.html">projects details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://galaxyanalytics.net/demos/handyman/testimonials.html">testimonial</a></li>
                            <li>
                                <a href="http://galaxyanalytics.net/demos/handyman/team.html">team</a>
                                <ul class="nav">
                                    <li><a href="http://galaxyanalytics.net/demos/handyman/team.html">team</a></li>
                                    <li><a href="http://galaxyanalytics.net/demos/handyman/single-team-member.html">single memeber</a></li>
                                </ul>
                            </li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/404.html">404 page</a></li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/comming-soon.html">Coming Soon page</a></li>
                        </ul>
                    </li>
                    <li class="active dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">blog</a>
                        <ul class="dropdown-menu">
                            <li><a href={{ path('Affiche_Blog') }}>blog</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="http://galaxyanalytics.net/demos/handyman/shop.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">shop</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://galaxyanalytics.net/demos/handyman/shop.html">shop</a></li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/product.html">product details</a></li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/cart.html">cart page</a></li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/checkout.html">checkout page</a></li>
                        </ul>
                    </li>
                    <li><a href="http://galaxyanalytics.net/demos/handyman/contact.html">Contact us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="search-form"><i class="icon icon-Search"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <form action="#" method="get" class="search-form">
                                    <input type="search" class="form-control" placeholder="Type and Enter">
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-cart"></i></a>
                        <ul class="cart-box dropdown-menu">
                            <li class="cart-header">
                                <h4>You have 2 Items In Your Cart.</h4>
                            </li>
                            <li class="cart-content">
                                <div class="img-box">
                                    <img src="http://galaxyanalytics.net/demos/handyman/images/cart.jpg" alt="Awesome Image">
                                </div>
                                <div class="content">
                                    <a href="http://galaxyanalytics.net/demos/handyman/product.html"><h4>BATTERY SCREWDRIVER</h4></a>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <ul class="price">
                                        <li><span class="or-price">$39.99</span></li>
                                        <li><span class="sale-price">$24.5</span></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="cart-content">
                                <div class="img-box">
                                    <img src="http://galaxyanalytics.net/demos/handyman/images/cart.jpg" alt="Awesome Image">
                                </div>
                                <div class="content">
                                    <a href="http://galaxyanalytics.net/demos/handyman/product.html"><h4>BATTERY SCREWDRIVER</h4></a>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <ul class="price">
                                        <li><span class="or-price">$39.99</span></li>
                                        <li><span class="sale-price">$24.5</span></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="cart-footer clearfix">
                                <div class="total-price">
                                    <h4>Total price: <span>$73.5</span></h4>
                                </div>
                                <div class="checkout-box">
                                    <a href="#">Checkout <i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<!--Page Cover-->
<section class="row page-cover">
    <div class="container">
        <div class="row m0">
            <h2>blog</h2>
            <ol class="breadcrumb">
                <li><a href="http://galaxyanalytics.net/demos/handyman/index.html">Home</a></li>
                <li class="active">blog</li>
            </ol>
        </div>
    </div>
</section>


{#Nom: {{ v.nomArticle }}  #}
{#Cotenu:{{ v.contenuArticle }}   Commentaire {{ v.nbrCommentaire}}#}
{#Date:   {{ v.dateCreationArticle | date('Y-m-d H:i:s')}} #}
{# photo : <img src="{{asset('uploads/images/' ~ v.photo) }}"width="300" height="300"> #}
{#categorie : {{ v.CategArt.nomCategorie }}
<input type="hidden" id="idart-{{ v.id }}" value="{{ v.id }}">   #}

<section class="row blog_content">
    <div class="blog_section">
        <div class="blog_section_inner row m0">
            <div class="row blog">
                <div class="featured_img row m0">
                    <div class="main-content" xmlns="http://www.w3.org/1999/html">
                        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
                        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
                    </div>
                    {% for v in Article %}


                    <a href="http://galaxyanalytics.net/demos/handyman/single.html"> <img src="{{asset('uploads/images/' ~ v.photo) }}" width="200" height="200">
                       </a>
                </div>
                <div class="media post-meta">
                    <div class="media-left post-date">
                        <a href="#">  <span> {{ v.dateCreationArticle | date('Y-m-d H:i:s')}}</span></a>
                    </div>
                    <div class="media-body media-bottom">
                        <h4 class="post-title"><a href="http://galaxyanalytics.net/demos/handyman/single.html"> {{ v.nomArticle }} </a></h4>
                        <ul class="post-infos nav">
                            <li><i class="fa fa-user"></i>By: <a href="#"> Membre</a></li>
                            <li><i class="fa fa-tag"></i><a href="#"></a> {{ v.CategArt.nomCategorie }}</li>
                        </ul>
                    </div>
                </div>
                <div class="post-content row m0">
                    <p> {{ v.contenuArticle }}</p>


                    <input type="hidden" id="idart-{{ v.id }}" value="{{ v.id }}">
                    <li>
                        <a href="#" onclick="noter(1,{{ v.id }})">
                            <i class="fa fa-star" aria-hidden="true" id="star1"></i>
                        </a>

                        <a href="#" onclick="noter(2,{{ v.id }})">
                            <i class="fa fa-star" aria-hidden="true" id="star2"></i>
                        </a>

                        <a href="#" onclick="noter(3,{{ v.id }})">
                            <i class="fa fa-star" aria-hidden="true" id="star3"></i>
                        </a>

                        <a href="#" onclick="noter(4,{{ v.id }})">
                            <i class="fa fa-star" aria-hidden="true" id="star4"></i>
                        </a>

                        <a href="#" onclick="noter(5,{{ v.id }})">
                            <i class="fa fa-star" aria-hidden="true" id="star5"></i>
                        </a>
                        Note : <b id="note-{{ v.id }}"></b>
                    </li>



                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" >    </script>
                    <script>
                        function noter(note,str)
                        {
                            $.ajax({
                                url :"{{ path('communate_noteevent') }}",
                                type: 'POST',
                                dataType: 'json',
                                data: {'noteart':note ,'id_article': $("#idart-"+str).val() } ,
                                async:  true,

                                success: function(data) {
                                    //alert("success");
                                    $('#note-'+str).html(data.note);
                                },
                                error: function () {
                                    alert('Ajax request failed.');
                                }
                            });
                        }


                    </script>
                    {% endfor %}
                </div>
            </div> <!--Blog-->

        </div>
    </div>
    <div class="sidebar_section">
        <div class="sidebar row m0">
            <div class="row widget widget-search">
                <h4 class="widget-title">Liens Utiles </h4>
                <div class="row widget-inner">
                    <li> <a href="{{ path('AjoutCommentaire') }}" class="read-more">Add Comment <i class="fa fa-long-arrow-right"></i></a> </li>
                    <li>      <a href="{{ path('AfficheComm') }}" > Voir toutes les Commentaires </a></li>
                </div>
            </div> <!--Search-->
            <div class="row widget widget-categories">
                <h4 class="widget-title">Categories</h4>
                <div class="row widget-inner">
                    <div class="row m0 filter_row">

                    <ul class="nav" id="project_filter">
                        {% for categorie in cate %}
                            <li class="active" data-filter=".indoor"> {{ categorie.nomCategorie }} <br></li>

                        {% endfor %}

                            </ul>
                        </div>





                    </ul>
                </div>
            </div> <!--Categories-->


        </div>
    </div>
</section>

<footer class="row">
    <div class="row m0">
        <div class="container">
            <div class="contact_banner row m0">
                <h2>If  You Have Any Handyman Need ... Contact Us &amp; Get Quote</h2>
                <a href="http://galaxyanalytics.net/demos/handyman/contact.html">Contct us <i class="fa fa-angle-double-right"></i></a>
            </div>
            <div class="row footer_sidebar">
                <div class="widget widget1 about_us_widget col-sm-6 col-lg-3">
                    <a href="http://galaxyanalytics.net/demos/handyman/index.html" class="logo">
                        <img src="http://galaxyanalytics.net/demos/handyman/images/footer/footer_logo.png" alt="logo image">
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    <a href="#" class="read_more">Read More <i class="fa fa-angle-double-right"></i></a>
                    <div class="social_icon row m0">
                        <ul class="nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget2 widget_links col-sm-6 col-lg-3">
                    <h4 class="widget_title">our services</h4>
                    <div class="widget_inner row m0">
                        <ul>
                            <li><a href="#">House Remodeling</a></li>
                            <li><a href="#">Plumbing Services</a></li>
                            <li><a href="#">Wood Flooring</a></li>
                            <li><a href="#">Doors and Windows</a></li>
                            <li><a href="#">Tiling and Painting</a></li>
                            <li><a href="#">Maintainance Services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget3 widget_links widget_links2 col-sm-6 col-lg-2">
                    <h4 class="widget_title">Quick Links</h4>
                    <div class="widget_inner row m0">
                        <ul>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/index.html">Home</a></li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/services.html">Our Services</a></li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/about.html">About Us</a></li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/blog.html">News</a></li>
                            <li><a href="http://galaxyanalytics.net/demos/handyman/contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget4 widget_contact col-sm-6 col-lg-4">
                    <h4 class="widget_title">Get In Touch</h4>
                    <div class="widget_inner row m0">
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <div class="location_address fleft">
                                    <strong>Logis Cargo Ltd.</strong><br>
                                    42B, Tailstoi Town 5248 MT, Wordwide Country
                                </div>

                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <div class="fleft contact_no">
                                    <a href="#">+ 01865 524 8503</a> / <a href="#">1254 954 7854</a>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <div class="fleft contact_mail">
                                    <a href="#">contact@logiccargo.com</a>
                                </div>
                            </li>
                            <li>
                                <i class="icon icon-Timer"></i>
                                <div class="fleft service_time">
                                    Monday - Friday : 800 - 1900
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    Copyright &copy; <a href="http://galaxyanalytics.net/demos/handyman/index.html">Handyman &amp; Repairing</a> 2016. <br class="visible-xs"> All rights reserved.
                </div>
                <div class="right col-sm-4">
                    Created by: <a href="http://themeforest.net/user/designarc">DesignArc</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://galaxyanalytics.net/demos/handyman/js/jquery-2.2.0.min.js"></script>
<script src="http://galaxyanalytics.net/demos/handyman/js/bootstrap.min.js"></script>
<script src="http://galaxyanalytics.net/demos/handyman/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="http://galaxyanalytics.net/demos/handyman/vendors/isotope/isotope.min.js"></script>
<script src="http://galaxyanalytics.net/demos/handyman/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="http://galaxyanalytics.net/demos/handyman/vendors/counterup/jquery.counterup.min.js"></script>
<script src="http://galaxyanalytics.net/demos/handyman/vendors/waypoints/waypoints.min.js"></script>


<script src="http://galaxyanalytics.net/demos/handyman/js/theme.js"></script>
</body>

<!-- Mirrored from galaxyanalytics.net/demos/handyman/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Feb 2019 00:09:56 GMT -->
</html>